.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-weight: 300;
}

.header__back {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.header__arrow {
  position: relative;
  top: 2px; /* Микро-корректировка если нужно */
}

.header__link {
  display: flex;
  position: relative;
  font-weight: 300;
  font-size: 24px;
}

@media (max-width: 630px) {
  .header__top {
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
  }

  .header__title {
    text-align: center;
  }

  .header__arrow {
    top: 1px; /* Микро-корректировка если нужно */
  }
}

@media (max-width: 402px) {
  .header {
    margin-bottom: 40px;
  }

  .header__title {
    font-size: 22px;
  }

  .header__link {
    font-size: 18px;
  }

  .header__arrow {
    height: 18px;
  }
}
