.schedule {
  margin-bottom: 80px;
}

.schedule__title {
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 24px;
}

.schedule__block {
  max-width: 840px;
  width: 100%;
  padding: 15px;

  background-color: #303030;

  border-radius: 10px;
}

.schedule__lessons {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.schedule__info {
  font-size: 24px;
  font-weight: 300;
}

.schedule__link {
  margin-right: 11px;
  color: #87bfff;
  border-bottom: 1px solid #87bfff;
}

.schedule__next {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 560px) {
  .schedule__lessons {
    flex-direction: column;
    gap: 15px 0;
  }
}

@media (max-width: 402px) {
  .schedule__title {
    font-size: 16px;
  }
}
