.block {
  margin-bottom: 60px;
}

.block__title {
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 300;
}

.block__area {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(48, 48, 48, 1);
}

.block__link {
  font-size: 24px;
  font-weight: 300;

  color: #87bfff;

  border-bottom: 1px solid #87bfff;
}

.block__link-close {
  color: #ff8787;
  border-bottom: 1px solid #ff8787;
}

.block__link-text {
  font-size: 22px;
}

.block__link:hover,
.block__link-text:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.block__header {
  font-size: 24px;
  font-weight: 300;

  margin-bottom: 20px;
}

.block__subheader {
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 300;
}

.block__text {
  margin-bottom: 25px;

  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;

  color: #ffffff;
}

.block__text:last-child {
  margin-bottom: 0;
}

.block__list {
  list-style: square;
  margin-left: 20px;

  margin-bottom: 25px;
}

.block__list:last-child {
  margin-bottom: 0px;
}

.block__item {
  margin-bottom: 10px;

  line-height: 1.25;

  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.block__item::marker {
  color: #87bfff;
}

.text-color-blue {
  color: #87bfff;
}

.text-color-orange {
  color: #ffbf87;
}

/* CODE */

.block__code {
  border: 2px dashed #656565;
  border-radius: 5px;

  padding: 20px;
  margin-bottom: 25px;
  font-family: Consolas;
  font-size: 24px;
}

.block__tag-name {
  font-family: Consolas;
  color: #87bfff;
}
.block__class-name {
  font-family: Consolas;
  color: #ffe387;
}
.block__command {
  font-family: Consolas;
  color: #87ff8b;
}

.block__code-tab {
  display: block;
  margin: 15px 0 15px 20px;
}

.block__image {
  display: flex;
  justify-content: center;

  margin-bottom: 25px;
}

.block__quote {
  border: 2px dashed #ffe387;
  border-radius: 10px;

  padding: 20px;
}

@media (max-width: 468px) {
  .block__code-tab {
    margin: 5px 0 5px 15px;
  }
  .block__code {
    font-size: 18px;
  }
}
