.lessons__title {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 300;

  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));

  gap: 20px 20px;
}

.grid__item {
  border: 2px solid transparent;

  padding: 20px;
  background-color: #303030;
  border-radius: 10px;
}

.grid__item:hover {
  border: 2px solid #87bfff;
}

.grid__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.grid__lesson {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 16px;
}

.grid__date {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 16px;
}

.grid__title {
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 1240px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  }
}

@media (max-width: 465px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .lessons__title {
    font-size: 26px;
  }

  .grid__title {
    font-size: 18px;
  }
}
